.body-html {
	background-color: #C599C9;
	font-color: #ffffff;
	height: auto;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    align-content: center;
    overflow-x: hidden;
}

.navbar{
	background-color: #FDEE9A;
	list-style: none;
	margin-top:0px;

}

.nav-words{
	color: black;
    text-decoration: none;
}
.navbar-text:hover{
	color: #C7B63F;
}

.jumbotron{
	background-color: transparent;
	height:auto;

}
.btn-primary{
	background-color:#FDEE9A;
	width: 150px;
	color:black;
	text-align: center;
}

.btn-primary-block:hover{
	background-color:#C7B63F;
	padding: 3px;
}

.menu-btn{
	float: right;
}

}
.map{
	width: 700px;
	height: 550px;
	position:absolute;
	bottom:-10px;
	right:10px;   
}

.col-sm-6 .card-header{
	background-color:#FDEE9A;
	padding: 3px;
}

@media screen and (max-width: 600px) {
	.jumbotron.responsive {position: relative;}
