{% extends "layout.html" %}

{% block title %} <title> About us | FAVEART for OnWords </title> {% endblock title %}

{% block body %}
	<body class="body-html">
		<div class="text">
		<h1>About FAVEART for OnWords</h1>
		<h4><b><i>FAVEART for OnWords</i></b> is the senior-year computer science project of <b>Fabliha Hossain</b> and <b>Victoria Grinthal</b>, which allows users to visualize text of of any kind in the real world though their device camera.</h4>
		<div class="image-row">
			<div class="column1">
				<img src="static/Vickie.jpg"alt="Co-creator Victoria Grinthal"></div>
			<div class="column1">
				<img src="static/Vickie.jpg"alt="Co-creator Victoria Grinthal"></div>
			<div class="column1">
				<img src="static/Vickie.jpg"alt="Co-creator Victoria Grinthal"></div>
		</div>
		<p>This is an extension of <i>OnWords</i>, the movement orignally created with the WallaMe app by <b>Shoshanah Tarkow</b>.</p>
		<p><b>FAVEART</b> is an acronym for "<b>F</b>abliha <b>A</b>nd <b>V</b>ictoria <b>E</b>xplore <b>A</b>ugmented <b>R</b>eality <b>T</b>echnology." The two students collaborated with Tarkow on this project to create a web application where educators and artists can share, view, and create real-world renderings of words and text. This is done through Augmented Reality Technology and the handheld smart devices many carry with them daily. Using the <a href="aframe.io"style="font-color:white;">A-FRAME</a> Javascript library, <a style="font-color:white;" href="leafletjs.com">Leaflet</a> map integration, geolocation tracking, and marker recognition, the end result allows anyone to personalize and animate the text of their choice and greater display the meanings behind it.</p>
		<p>Fabliha and Victoria would like to thank Tarkow for her collaboration on this project, as well as <b>Dr. Lee Stemkoski</b> for establishing and assisting with the project and <b>Dr. Kees Leune</b> for added assistance and support.</p>
	</div>
	</body>

{% endblock body %}