<!DOCTYPE html>
<html>
<head>
        <link rel="icon" href="data:;base64,iVBORw0KGgo=">
        <script src="../static/animations/js/aframe.min.js"></script>
        <script src="../static/animations/js/aframe-ar.js"></script>
        <!-- support 3D text -->
        <script src="../static/animations/js/aframe-text-geometry-component.min.js"></script>    
        <script src="../static/animations/js/animations.js"></script>
 </head>
 <script>

    AFRAME.registerComponent("customize", {
            tick: function()
            {
                let words = document.querySelector("#words");
                let style = words.getAttribute("animationStyle");
                let myColor = words.getAttribute("material");
                let myFont = words.getAttribute("text-geometry");

                choice(style, words, myColor.color, myFont.font);
          }
    });
 </script>
 <body>
    <div>
        <img src="../static/markers/MarkYourVisit.png" style="position: absolute; right: 10px; bottom: 10px; width:200px; height:80px; z-index: 999;" id="visit" />
        <img src="../static/markers/ReturnToPath.png" style="position: absolute; left: 10px; bottom: 10px; width:200px; height:80px; z-index: 999;" id="back" onclick="window.open('https://faveart.profleune.net:5000/viewCheckpoints.html')"/>
    </div>

    <a-scene embedded vr-mode-ui="enabled: false;" arjs="debugUIEnabled: false;">
        <a-assets>
            <a-asset-item id="{{checkpoint.font}}" src="../static/animations/fonts/{{checkpoint.font}}.json"></a-asset-item>
        </a-assets>

       <a-marker type = "pattern" url = "../static/markers/innocent_emoji.patt" id = "EmojiMarker" insight>
            <a-entity id="words" text-geometry="value: {{checkpoint.text}} ; font: #{{checkpoint.font}};" material="color: {{checkpoint.color}};" customize animationStyle="{{checkpoint.animation}}"></a-entity>
       </a-marker>

       <a-entity camera></a-entity>
    </a-scene>
</body>
</html>
