

<!DOCTYPE html>
<html>
<head>
<!-- 	<script type="text/javascript" src = "{{url_for('static', filename = 'animations/js/aframe-ar.js')}}"></script>

	<script type="text/javascript" src = "{{url_for('static', filename = 'animations/js/aframe-text-geometry-component.min.js')}}"></script> -->

    <script type="text/javascript" src = "{{url_for('static', filename = 'animations/js/animations.js')}}"></script>

     <script type="text/javascript" src = "{{url_for('static', filename = 'animations/js/aframe.min.js')}}"></script>

     <script type="text/javascript" src = "{{url_for('static', filename = 'animations/js/ar.js')}}"></script>

     <script type="text/javascript" src = "{{url_for('static', filename = 'animations/js/three.js')}}"></script>
 </head>
 <body>
<a-scene>

	 <a-entity camera></a-entity>
</a-scene>
</html>
