<!DOCTYPE html>
<html>
<head>
        <link rel="icon" href="data:;base64,iVBORw0KGgo=">
        <script src="../static/animations/js/aframe.min.js"></script>
        <script src="../static/animations/js/aframe-ar.js"></script>
        <!-- support 3D text -->
        <script src="../static/animations/js/aframe-text-geometry-component.min.js"></script>    
        <script src="../static/animations/js/animations.js"></script>
 </head>
  <script>
    // Function to Parse all checkpoint data-->
     AFRAME.registerComponent("customize", {
            tick: function()
            {
              // Getting the list of checkpoint ids in the Path
              const arr = {{checkpointIdList}};

              // Going through the list of checkpoints
              for (i = 0; i < arr.length; i++) { 
                  // Getting the current checkpoint ID
                  var check = "#words" + arr[i];

                  // Getting the text of checkpoint
                  var words = document.querySelector(check);

                  // Getting the animation attribute of checkpoint
                  let style = words.getAttribute("animationStyle");

                  // Getting the color attribute of checkpoint
                  let myColor = words.getAttribute("material");

                  // Getting the font attribute of checkpoint
                  let myFont = words.getAttribute("text-geometry");

                  // Creating the visual component of the checkpoint
                  choice(style, words, myColor.color, myFont.font);
              }
          }
    });
 </script>
 <body>
 	<div>
      <form method = "post">
        <!-- Dropdown Menu for Checkpoints in Path-->
				<select style="position: absolute; right: 10px; top: 10px; width:200px; height:80px; z-index: 999;" class="custom-select" name = "checkpointNumber">
	  				<option selected> Checkpoint Number</option>
	  				{% for x in range (0, numOfCheckpoints) %}
	  				<option value="{{x+1}}">{{x+1}}</option>
	  				{% endfor %}
				</select>

        <!-- Button to Log an Interaction-->
        	<button style="position: absolute; right: 10px; bottom: 10px; width:200px; height:80px; z-index: 999;" id="visit" type = "submit" name = "logInteraction" value = "interaction" class = "btn btn-primary btn-primary-block"><img src="../static/markers/MarkYourVisit.png"></button>
    	</form>

      <!-- Button to Return to Homepage-->
        <img src="../static/markers/ReturnToPath.png" style="position: absolute; left: 10px; bottom: 10px; width:200px; height:80px; z-index: 999;" id="back" onclick="window.location.href='{{url_for('homepage')}}'"/>
    </div>

    <!-- AFRAME Scene for Marker-Based or Geolocation-Based Paths-->
 	<a-scene embedded vr-mode-ui="enabled: false;" arjs="debugUIEnabled: false;">

 		<!-- Marker Based Path-->
 		{% if base_format == "marker" %}
	 		{% for checkpoint in checkpointList %}
		        <a-assets>
		            <a-asset-item id="{{checkpoint.font}}" src="../static/animations/fonts/{{checkpoint.font}}.json"></a-asset-item>
		        </a-assets>

		       <a-marker type = "pattern" url = "../static/markers/{{checkpoint.marker}}.patt" id = "{{checkpoint.marker}}">
		            <a-entity id="words{{checkpoint.checkpoint_id}}" text-geometry="value: {{checkpoint.text}} ; font: #{{checkpoint.font}};" material="color: {{checkpoint.color}};" animationStyle="{{checkpoint.animation}}" customize></a-entity>
		       </a-marker>
	       {% endfor %}
          <a-entity camera></a-entity>
       {% endif %}

       <!-- Location-Based Path-->
       {% if base_format == "geolocation" %}
	       {% for checkpoint in checkpointList %}
			    <a-assets>
		        	<a-asset-item id="{{checkpoint.font}}" src="../static/animations/fonts/{{checkpoint.font}}.json"></a-asset-item>
		        </a-assets>

		        <a-entity id="words{{checkpoint.checkpoint_id}}" text-geometry="value: {{checkpoint.text}}; font: #{{checkpoint.font}};" material="color: {{checkpoint.color}};" customize animationStyle="{{checkpoint.animation}}"
		        gps-entity-place = "latitude: {{latitudeList[loop.index-1]}}; longitude:{{longitudeList[loop.index-1]}};"
		        ></a-entity>
	       {% endfor %}
          <!-- Geolocation Camera-->
          <a-camera gps-camera rotation-reader></a-camera>
       {% endif %}
  
    </a-scene>
 </body>