{% extends "layout.html" %}

{% block title %} <title> Home Page | FAVEART for OnWords</title> {% endblock title %}

{% block body %}

<!-- Flash Messages-->
{% with messages = get_flashed_messages() %}
	{% if messages %}
		<ul class = flashes>
		{% for message in messages %}
			<div class = "alert">
				<p> {{message}}</p>
			</div>
		{% endfor %}
		</ul>
	{% endif %}
{% endwith %}
	
<body class = "body-html">
	<div class="jumbotron">
	<!-- Displaying all paths in the database-->
	<h1>All Paths</h1>

	<!-- Button for Pathmakers only-->
	{% set pathmaker = "pathmaker" %}
	{% if session['role'] == pathmaker %}
	<a href="{{url_for('createPath')}}" class="btn btn-primary btn-primary-block">Create Path</a>
	{% endif %}

	{% for path in paths %}
		<!-- Route for Pathmaker to view each checkpoint in path-->
		{% set pathmaker = "pathmaker" %}
			{% if session['role'] == pathmaker %}
				    <a href="{{url_for('viewCheckpoints', pathID = path.path_id)}}" class="btn btn-primary btn-primary-block menu-btn">View Checkpoints</a>
			 {% endif %}

		<!-- Route for Explorer to view all checkpoints in entire path-->
		{% set explorer = "explorer" %}
			{% if session['role'] == explorer %}
				    <a href="{{url_for('explorePath', path_id = path.path_id)}}" class="btn btn-primary btn-primary-block menu-btn">Explore Path</a>
			  {% endif %}
			<h2>{{path.name}}</h2>
			<h3>Creator: {{path.pathmaker}}</h3>
			<p>{{path.description}}</p>
			<hr>
	{% endfor %}
	</div>

	<!-- Log Out Button-->
	<div class="text-center">
		<p><b>Exit FAVEART</b></p> <a class="btn btn-primary btn-primary-block" href="{{url_for('logout')}}">Log Out</a></p>
	</div>
</body>
{% endblock body %}