{% extends "layout.html" %}

{% block title %} <title> Home Page </title> {% endblock title %}

{% block body %}
<body class = "body-html">
	<h1>All Paths</h1>
	<div class="jumbotron">
	{% for path in paths %}
			<h2>{{path.name}}</h2>
			<h3>Creator: {{path.pathmaker}}</h3>
			<p>{{path.description}}</p>
		    <a href="{{url_for('viewCheckpoints', pathID = path.path_id)}}" class="btn btn-primary btn-primary-block">View Checkpoints</a>
			<hr>
	{% endfor %}
	</div>
	<a href="{{url_for('createPath')}}" class="btn btn-primary btn-primary-block">Create Path</a>

	
</body>
{% endblock body %}