{% extends "layout.html" %}

{% block title %} <title> Home Page </title> {% endblock title %}

{% block body %}

	{% with messages = get_flashed_messages() %}
		{% if messages %}
			<ul class = flashes>
			{% for message in messages %}
				<div class = "alert">
					<p> {{message}}</p>
				</div>
			{% endfor %}
			</ul>
		{% endif %}
	{% endwith %}
	
<body class = "body-html">
	<h1>All Paths</h1>
	<div class="jumbotron">
	{% for path in paths %}
			<h2>{{path.name}}</h2>
			<h3>Creator: {{path.pathmaker}}</h3>
			<p>{{path.description}}</p>
				{% set pathmaker = "pathmaker" %}
				{% if session['role'] == pathmaker %}
				    <a href="{{url_for('viewCheckpoints', pathID = path.path_id)}}" class="btn btn-primary btn-primary-block menu">View Checkpoints</a>
			    {% endif %}

				{% set explorer = "explorer" %}
				{% if session['role'] == explorer %}
				    <a href="{{url_for('explorePath', path_id = path.path_id)}}" class="btn btn-primary btn-primary-block">Explore Path</a>
			    {% endif %}

			<hr>
	{% endfor %}
		{% set pathmaker = "pathmaker" %}
	{% if session['role'] == pathmaker %}
	<a href="{{url_for('createPath')}}" class="btn btn-primary btn-primary-block">Create Path</a>
	{% endif %}
	</div>

	<!-- Button for Pathmakers only-->
<!-- 	{% set pathmaker = "pathmaker" %}
	{% if session['role'] == pathmaker %}
	<a href="{{url_for('createPath')}}" class="btn btn-primary btn-primary-block">Create Path</a>
	{% endif %} -->

	
</body>
{% endblock body %}