<html>
{% block head %}
<head>
	{% block title %} <title> FAVEART for OnWords </title> {% endblock title %}
		{% block meta %}
		<meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1" media="(device-height: 568px)">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="HandheldFriendly" content="True">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		{% endblock meta %}
		{% block styles %}
			<script src="../static/leaflet/leaflet.js"></script>
			<script src="../static/leaflet/Control.OSMGeocoder.js"></script>

			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
			<link rel = "stylesheet" href="{{url_for('static', filename = 'leaflet/leaflet.css')}}"/>
			<link rel = "stylesheet" href="{{url_for('static', filename = 'leaflet/Control.OSMGeocoder.css')}}"/>
			<link rel = "stylesheet" href="{{url_for('static', filename = 'stylesheet.css')}}">
			
		{% endblock styles %}

		{# Navigation Bar #}
		<nav class = "navbar navbar-expand-sm">
			<a class="navbar-brand nav-words navbar-text" href="{{url_for('index')}}"> FAVEART For OnWords </a>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				{% if not session['username'] %}
				<li class = "nav-item" >
					<a class = "nav-link nav-words navbar-text" href="{{url_for('login')}}"> Log In </a>
				</li>
				{% endif %}

				{% if not session['username'] %}
				<li class = "nav-item" >
					<a class = "nav-link nav-words navbar-text" href="{{url_for('register')}}"> Register </a>
				</li>
				{% endif %}

				{% if session['username'] %}
				<li class = "nav-item" >
					<a class = "nav-link nav-words navbar-text" href="{{url_for('homepage')}}"> View Paths </a>
				</li>
				{% endif %}

				{% if session['username'] %}
				<li class = "nav-item">
					<a class = "nav-link nav-words navbar-text" href="{{url_for('logout')}}"> Log Out</a>
				</li>
				{% endif %}
			</div>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
			</button>
		</nav>
</head>
{% endblock head %}
{% block body %}
<body class = "body-html">
	<img src="application/static/OpenBookFinal.png" alt="FAVEART for OnWords Logo">
	<h1 style="text-align: center">Welcome!</h1>
</body>
{% endblock body %}
</html>