{% extends "layout.html" %}

{% block title %} <title> Manage Users (Admin) </title> {% endblock title %}

{% block body %}

<body class = "body-html">
	 <form method = "post">
		<table class = "table table-hover table-sm">
			<thead class = "thead-dark">
				<tr>
					<th scope="col">User ID</th>
				    <th scope="col">Name</th>
				    <th scope="col">Email</th>
				    <th scope="col">Username</th>
				    <th scope="col">Role</th>
				</tr>
			</thead>
			<tbody>
				{% for user in users %}
				<tr>
					<th scope="row">{{user.user_id}}</th>
					<th>{{user.firstname}} {{user.lastname}}</th>
					<th>{{user.email}}</th>
					<th>{{user.username}}</th>
					<th>{{user.role}}</th>
					<th>
						<td>
							<button type="button" class = "btn btn-primary btn-primary-block" data-toggle="modal" data-target="#userDeletion{{ user.user_id }}"> Delete User </button>
						</td>
					</th>
				</tr>

				<div class="modal fade" id="userDeletion{{ user.user_id }}" role="dialog">
					<div class="modal-dialog">
					<div class="modal-content">
        			<div class="modal-header">
        				<h4 class="modal-title">Careful! This Action Cannot be Reversed! </h4>
          				<button type="button" class="close" data-dismiss="modal">&times;</button>
        			</div>
        			
        			<div class="modal-body">
          				<p>Are You Sure You Want To Remove The Following User From The Site? <br> <br>Name: {{user.firstname}} {{user.lastname}} <br> Email: {{user.email}} <br> Role: {{user.role}}</p>
        			</div>
        			<div class="modal-footer">
        				<button type="button" class = "btn btn-primary btn-primary-block" data-dismiss="modal">No</button>
        				<button type = "submit" name = "user_id" value = "{{user.user_id}}" class = "btn btn-primary btn-primary-block">Yes</button>
			        </div>
      			</div>
				{% endfor %}
			</tbody>
		</table>
	</form>
</body>

{# Javascript Lines from https://getbootstrap.com/docs/4.3/getting-started/introduction/ #}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
{% endblock body %}

<!-- Credit to https://getbootstrap.com/docs/4.4/components/list-group/-->
<!-- Credit to https://getbootstrap.com/docs/4.0/content/tables/-->
<!-- Credit to https://www.chronoengine.com/forums/posts/t102669/how-to-add-a-confirm-popup-to-a-submit-button-->
<!-- Credit to https://stackoverflow.com/questions/44606429/modal-window-in-jinja2-template-flask-->
