{% extends "layout.html" %}

{% block title %} <title> Path Details | FAVEART for OnWords</title> {% endblock title %}
   
{% block body %}

<!-- Displaying the Path Information-->
<body class = "body-html">
	<div class = "jumbotron">
		<h2>Path Details</h2>
		<b>Path Name:</b> {{ session['pathname'] }}
		<br>
		<b>Path Description:</b> {{ session['description'] }}
		<br>
		<b>Pathmaker:</b> {{ session['pathmaker'] }}
		<br>
		<b>Format:</b> {{ session['format_chosen'] }}
		<br>
		<b>Total Number of Checkpoints:</b> {{session['numOfCheckpoints']}}
		<br><br>
		<hr>
		<h2>Checkpoints</h2><br>

		<!-- Getting the Checkpoint Information From Session -->
		{% set count = session['numOfCheckpoints'] | int %}
		{% set textList = session['checkpointTexts'] %}
		{% set animationList = session['checkpointAnimations'] %}
		{% set colorList = session['checkpointColors'] %}
		{% set fontList = session['checkpointFonts'] %}

		{% set marker_format = "marker" %}
		{% set geo_format = "geolocation" %}
		{% if session['format_chosen'] == geo_format %}
			{% set latitudeList = session['checkpointLatitudes'] %}
			{% set longitudeList = session['checkpointLongitudes'] %}
		{% endif %}

		{% if session['format_chosen'] == marker_format %}
			{% set markerList = session['markerNames']%}
			{% set markerfile = session['markerFilenames'] %}
		{% endif %}
		<!-- Displaying the Checkpoint Information-->
		{% for x in range(0, count) %}
			<h4>Checkpoint {{x+1}}:</h4>
			<br>
			<p><b>Text:</b> {{ textList[x] }}
			<br>
			<b>Animation:</b> {{ animationList[x] }}
			<br>
			<b>Color:</b> {{ colorList[x] }}
			<br>
			<b>Font:</b> {{ fontList[x] }}
			<br>
			{% set marker_format = "marker" %}
			{% set geo_format = "geolocation" %}
			{% if session['format_chosen'] == geo_format %}
					<b>Latitude:</b> {{ latitudeList[x] }}
					<br>
					<b>Longitude:</b> {{ longitudeList[x] }}
			{% endif %}</p>

		{% if session['format_chosen'] == marker_format %}
				<b>Marker:</b> {{  markerList[x]  }}
				{% set marker_filename = markerfile[x] %}
				<a href="{{url_for('downloadMarkerFile', filename = marker_filename)}}" class="btn btn-primary btn-primary-block"> Download </a><hr>
			{% endif %}
			<!-- If Marker path, download buttons that lead to the pdf versions of the markers-->
			<br><br>
		{% endfor %}

		<!-- Asking the Pathmaker if they'd like to create the path or delete progress--> 
		<form method = "post">
			<div class ="text-left">
				<button type = "submit" name = "pathCreation" value = "createPath" class = "btn btn-primary btn-primary-block"> Create Path! </button>
			</div>
			<br>
			<div class ="text-left">
				<button type = "submit" name = "pathCreation" value = "cancelPath" class = "btn btn-primary btn-primary-block"> Cancel Path </button>
			</div>
		</form>
			<a class = "btn btn-primary btn-primary-block logout-button" href="{{url_for('logout')}}"> Log Out</a>
	</div>
</body>
{% endblock body %}

<!-- Credit tp https://stackoverflow.com/questions/43811779/use-many-submit-buttons-in-the-same-form-->
