{% extends "layout.html" %}

{% block title %} <title> Registration Page | FAVEART for OnWords</title> {% endblock title %}

{% block body %}

	<!-- Flash Messages-->
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			<ul class = flashes>
			{% for message in messages %}
				<div class = "alert">
					<p> {{message}}</p>
				</div>
			{% endfor %}
			</ul>
		{% endif %}
	{% endwith %}

	<body class = "body-html">
		<div class = "jumbotron">
			<!-- Registration Form-->
			<div class = "container text-center"> <h2>Please Provide the Following Information:</h2></div>
			<form method = "post">
				<div class = "form-group">
					<label for = "inputFirstname"> First Name </label>
					<input type="firstname" class = "form-control" name="firstname" value = "{{request.form.firstname}}">
				</div>

				<div class = "form-group">
					<label for = "inputLastname"> Last Name</label>
					<input type="lastname" class = "form-control" name="lastname" value = "{{request.form.lastname}}">
				</div>

				<div class = "form-group">
					<label for = "inputEmail"> Email </label>
					<input type="email" class = "form-control" name="email" value = "{{request.form.email}}">
				</div>

				<div class = "form-group">
					<label for = "inputUsername"> Username </label>
					<input type="username" class = "form-control" name="username" value = "{{request.form.username}}">
				</div>

				<div class = "form-group">
					<label for = "inputPassword"> Password </label>
					<input type="password" class = "form-control" name="password" value = "{{request.form.password}}">
				</div>

				<div class = "container text-center"> <b>Choose a Role:</b> </div>
				<div class = "text-center" style="padding:">
					<div class="form-check form-check-inline">
		  				<input class="form-check-input" type="radio" name="roles" id="pathmaker" value="pathmaker">
		  				<label class="form-check-label" for="roles"><b>Pathmaker</b></label>
					</div>
					<div class="form-check form-check-inline">
		  				<input class="form-check-input" type="radio" name="roles" id="explorer" value="explorer">
		  				<label class="form-check-label" for="roles"><b>Explorer</b></label>
					</div>
				</div>

				<!-- Submit Button-->
				<div class ="text-center">
					<button type = "submit" class = "btn btn-primary btn-primary-block"> Register </button>
				</div>
			</form>

			<!-- Route to Login Page-->
			<div class="text-center">
				<p><b>Already using FAVEART?</b><a class = "btn btn-primary btn-primary-block" href="{{url_for('login')}}"> Login </a></p>
			</div>
	</div>
		</div>
	</body>
{% endblock body %}

<!-- Credit to https://getbootstrap.com/docs/4.4/components/forms/ -->