{% extends "layout.html" %}

{% block title %} <title>{{path.name}}: Checkpoints</title> {% endblock title %}

{% block body %}
<body class = "body-html">
	<h1>{{path.name}} Checkpoint List</h1>
	<div>
	{% for checkpoint in points %}
		{% if checkpoint.checkpoint_id in path.checkpoints %}
			<h2>Checkpoint {{checkpoint.checkpoint_id}}</h2>
				<a href="{{url_for('checkpointVisual', checkpointID = checkpoint.checkpoint_id)}}" class="btn btn-primary btn-primary-block">View Checkpoint Here!</a>
			<hr>
		{% endif %}
	{% endfor %}
	</div>
</body>
{% endblock body %}